// COLORI

$black: #080808;
$brown: #640303;
$board: blue;
$light-blue: #80d2f8;
$pink: #f73fad;
$orange: #fa811d;
$red: #f50c2b;
$white: #fff;
$yellow: #ffed20;
$green: #41994e;
$dark-blue: rgb(9, 9, 190);

.light-blue  { background: $light-blue; }
.pink      { background: $pink; }
.orange      { background: $orange; }
.red         { background: $red; }
.yellow      { background: $yellow; }
.green       { background: $green; }
.dark-blue   { background: $dark-blue; }
.brown       { background: $brown; }

// Table

.container__table {
  display: flex;
  justify-content: center;
  height: 147vh;
  align-items: center;
}

.container__board {
  display: grid;
  justify-content: center;
  grid-template-columns: 125px repeat(9, 80px) 125px;
  grid-template-rows: 125px repeat(9, 80px) 125px;
  grid-gap: 2px;
  width: 992px;
  height: 992px;
  background: $black;
  border: 2px solid $black;
}

.center {
  grid-column: 2 / 11;
  grid-row: 2 / 11;
  background: $board;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

.title {
  grid-column: 1 / 9;
  grid-row: 4;
  font-size: 90px;
  font-weight: 400;
  letter-spacing: 12px;
}

.probabilita {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  transform: rotate(135deg);
  margin-right: 60px;
}

.imprevisti {
  grid-column: 5 / 7;
  grid-row: 5 / 7;
  transform: rotate(315deg);
  margin-left: 60px;
}

.label {
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
  padding-bottom: 10px;
}

.deck {
  border: 2px dashed $black;
  width: 160px;
  height: 120px;
}


.row {
  display: grid;
  grid-gap: 2px;
}

.horizontal__row {
  grid-template-columns: repeat(9, 80px);
  grid-template-rows: 125px;
}

.vertical-row {
  grid-template-columns: 125px;
  grid-template-rows: repeat(9, 80px);

  .container {
    top: 50%;
    left: 50%;
  }
}

.bottom__row {
  grid-column: 2 / 11;
  grid-row: 11;
}

.left-row {
  grid-column: 1;
  grid-row: 2 / 11;

  .container {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.top__row {
  grid-column: 2 / 11;
  grid-row: 1;

  .container {
    transform: rotate(180deg);
  }
}

.right-row {
  grid-column: 11;
  grid-row: 2 / 11;

  .container {
    transform: translate(-50%, -50%) rotate(270deg);
  }
}

img {
  display: flex;
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}


.space {
  background: $board;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transform-origin: center;
    align-items: center;
    height: 125px;
    width: 80px;
  }

  .name,
  .instructions {
    color: $white;
    text-transform: uppercase;
    font-size: 10px;
  }

  .price {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 5px;
    z-index: 100;
    color: white;
  }
}

.corner {
  .container {
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }

  .name {
    padding: 0;
  }
}

.property {
  .color__bar {
    height: 25px;
    margin-top: -1px;
    border-bottom: 2px solid #080808;
    width: 100%;
    z-index: 100;
  }

  .name {
    padding-bottom: 25px;
    color: white;
    font-size: 9px;
    text-transform: uppercase;
    z-index: 100;
  }

  .zero {
    margin-top: 0px;
  }
}

.railroad {
  .name {
    padding-top: 10px;
  }

  .drawing {
    font-size: 60px;
    color: $black;
  }
}

.utility {
  .name {
    padding-top: 10px;
  }

  .drawing {
    font-size: 70px;
  }
}

.fee {
  .name {
    padding-top: 10px;
    font-size: 14px;
  }

  .instructions {
    font-size: 10px;
  }
}


.go {
  grid-column: 11;
  grid-row: 11 / 12;
  position: relative;

  .container {
    justify-content: center;
    transform: rotate(315deg);
  }

  .instructions {
    padding: 0px 15px;
    margin-top: -10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
  }

  .go-word {
    font-size: 43px;
    font-weight: bold;
    color: $white;
  }

  .arrow {
    font-size: 45px;
    color: $red;
    position: absolute;
    bottom: -10px;
    left: 5px;
  }
}

.jail {
  grid-column: 1;
  grid-row: 11 / 12;
  display: grid;
  grid-template-columns: repeat(10, 12.5px);
  grid-template-rows: repeat(10, 12.5px);
  justify-content: center;
  align-items: center;

  .drawing {
    grid-column: 4 / 12;
    grid-row: 1 / 8;
    width: 87.5px;
    height: 87.5px;
    background: $orange;
    border: 2px solid $black;
  }

  .just {
    grid-column: 3;
    grid-row: 2;
    transform: rotate(90deg);
    padding-top: 5px;
  }

  .visiting {
    grid-column: 4;
    grid-row: 8;
    padding-top: 5px;
  }

  .container {
    align-items: center;
    transform: rotate(45deg);
  }

  .name {
    font-size: 9px;
    margin-top: -7px;
  }

  .window {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: -9px;
    width: 45px;
    height: 45px;
    background: $board;
    border: 2px solid $black;
  }

  .person {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 40px;
  }

  .bar {
    height: 49px;
    width: 2px;
    background: $black;
  }
}

.free__parking {
  grid-column: 1;
  grid-row: 1 / 2;

  .container {
    justify-content: center;
    transform: rotate(135deg);
  }

  .name {
    font-size: 12px;
  }

  .drawing {
    font-size: 60px;
    color: $red;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.go-to-jail {
  grid-column: 11;
  grid-row: 1 / 1;

  .container {
    justify-content: center;
    transform: rotate(225deg);
  }

  .name {
    font-size: 14px;
  }

  .drawing {
    font-size: 60px;
    color: $brown;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.chance {
  .container {
    justify-content: space-around;
  }

  .drawing {
    font-size: 55px;
    color: $red;
  }

  .blue {
    color: $dark-blue;
  }
}

.container__chest {
  .container {
    justify-content: space-around;
  }

  .drawing {
    font-size: 50px;
    color: $light-blue;
  }

  .instructions {
    font-size: 8px;
  }
}

.electric__company {
  .drawing {
    color: $yellow;
  }
}


.income__tax {
  .container {
    justify-content: space-between;
    align-items: center;
  }

  .name {
    padding-bottom: 5px;
    font-size: 10px;
  }

  .diamond {
    width: 5px;
    height: 5px;
    background: $black;
    transform: rotate(45deg);
    display: inline-block
  }

  .instructions {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.luxury__tax {
  .drawing {
    font-size: 50px;
  }

  .instructions {
    padding-bottom: 5px;
  }
}


.long-name {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.three-line-name {
  position: relative;
  top: 5px;
}


@media screen and (max-width: 400px) {
  .container__table {
    zoom: 0.30;
    height: initial;
  }
}
