<div class="container__table">
  <div class="container__board">
    <div class="center">
      <div class="probabilita">
        <h2 class="label">Probabilità</h2>
        <div class="deck"></div>
      </div>
      <h1 class="title">MONOPOLY</h1>
      <div class="imprevisti">
        <h2 class="label">Imprevisti</h2>
        <div class="deck"></div>
      </div>
    </div>

    <div class="space corner go">
      <div class="container">
        <div class="instructions">Ritirate al passaggio M200</div>
        <div class="go-word">VIA!</div>
      </div>
      <i class="fas fa-long-arrow-alt-left arrow"></i>
    </div>

    <div class="row horizontal__row bottom__row">
      <div class="space property">
        <div class="container">
          <div class="color__bar light-blue zero"></div>
          <div class="name">Anversa degli abruzzi</div>
          <div class="price">$120</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar light-blue zero"></div>
          <div class="name">Pietracamela</div>
          <div class="price">$100</div>
        </div>
      </div>
      <div class="space chance">
        <div class="container">
          <div class="name">Imprevisti</div>
          <i class="fas fa-question drawing"></i>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar light-blue zero"></div>
          <div class="name">Civitella del tronto</div>
          <div class="price">$100</div>
        </div>
      </div>
      <div class="space railroad">
        <div class="container">
          <div class="name">Oratino</div>
          <div class="price">$200</div>
        </div>
      </div>
      <div class="space fee income__tax">
        <div class="container">
          <div class="name">Tassa Patrimoniale</div>
          <div class="diamond"></div>
          <div class="instructions">Pagate $200</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <img src="./../../../assets/city/santo-stefano-di-sessanio.jpg" alt="Santo Stefano di Sessanio">
          <div class="color__bar brown zero"></div>
          <div class="name">Santo Stefano di Sessanio</div>
          <div class="price">$60</div>
        </div>
      </div>
      <div class="space container__chest">
        <div class="container">
          <div class="name">Probabilità</div>
          <i class="fas fa-cubes drawing"></i>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <img src="./../../../assets/city/casoli.jpg" alt="Casoli">
          <div class="color__bar brown zero"></div>
          <div class="name">Casoli</div>
          <div class="price">$60</div>
        </div>
      </div>
    </div>

    <div class="space corner jail">
      <div class="just">TRANSITO</div>
      <div class="drawing">
        <div class="container">
          <div class="name">PRIGIONE</div>
          <div class="window">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <i class="fas fa-frown-open person"></i>
          </div>
        </div>
      </div>
      <div class="visiting">TRANSITO</div>
    </div>

    <div class="row vertical-row left-row">
      <div class="space property">
        <div class="container">
          <div class="color__bar orange"></div>
          <div class="name">Rocca San Giovanni</div>
          <div class="price">$200</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar orange"></div>
          <div class="name">Opi</div>
          <div class="price">$180</div>
        </div>
      </div>
      <div class="space container__chest">
        <div class="container">
          <div class="name">Probabilità</div>
          <i class="fas fa-cubes drawing"></i>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar orange"></div>
          <div class="name">Abbateggio</div>
          <div class="price">$180</div>
        </div>
      </div>
      <div class="space railroad">
        <div class="container">
          <div class="name long-name">Frosolone</div>
          <div class="price">$200</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar pink"></div>
          <div class="name">Navelli</div>
          <div class="price">$160</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar pink"></div>
          <div class="name long-name">Pettorano sul gizio</div>
          <div class="price">$140</div>
        </div>
      </div>
      <div class="space utility electric__company">
        <div class="container">
          <div class="name">Petroro</div>
          <div class="price">Price $150</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar pink"></div>
          <div class="name">Bugnara</div>
          <div class="price">$140</div>
        </div>
      </div>
    </div>

    <div class="space corner free__parking">
      <div class="container">
        <div class="name">Parcheggio</div>
        <i class="fas fa-car drawing"></i>
        <div class="name">Gratuito</div>
      </div>
    </div>

    <div class="row horizontal__row top__row">
      <div class="space property">
        <div class="container">
          <div class="color__bar red zero"></div>
          <div class="name">Castel del Monte</div>
          <div class="price">$220</div>
        </div>
      </div>
      <div class="space chance">
        <div class="container">
          <div class="name">Imprevisti</div>
          <i class="fas fa-question drawing blue"></i>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar red zero"></div>
          <div class="name">Villalago</div>
          <div class="price">$220</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar red zero "></div>
          <div class="name">Castelli</div>
          <div class="price">$240</div>
        </div>
      </div>
      <div class="space railroad">
        <div class="container">
          <div class="name">Sepino</div>
          <div class="price">$200</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar yellow zero"></div>
          <div class="name">Città Sant'Angelo</div>
          <div class="price">$260</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar yellow zero"></div>
          <div class="name">Pescocostanzo</div>
          <div class="price">$260</div>
        </div>
      </div>
      <div class="space utility">
        <div class="container">
          <div class="name long-name">Guardiagrele</div>
          <div class="price">$150</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar yellow zero"></div>
          <div class="name">Pacentro</div>
          <div class="price">$280</div>
        </div>
      </div>
    </div>

    <div class="space corner go-to-jail">
      <div class="container">
        <div class="name">In Prigione!</div>
        <i class="fas fa-gavel drawing"></i>
      </div>
    </div>

    <div class="row vertical-row right-row">
      <div class="space property">
        <div class="container">
          <div class="color__bar green zero"></div>
          <div class="name">Tagliacozzo</div>
          <div class="price">$300</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar green zero"></div>
          <div class="name">Scanno</div>
          <div class="price">$300</div>
        </div>
      </div>
      <div class="space container__chest">
        <div class="container">
          <div class="name">Probabilità</div>
          <i class="fas fa-cubes drawing"></i>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar green zero"></div>
          <div class="name long-name">Penne</div>
          <div class="price">$320</div>
        </div>
      </div>
      <div class="space railroad">
        <div class="container">
          <div class="name"></div>
          <div class="price">$200</div>
        </div>
      </div>
      <div class="space chance">
        <div class="container">
          <div class="name">Imprevisti</div>
          <i class="fas fa-question drawing"></i>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar dark-blue zero"></div>
          <div class="name">Caramanico Terme</div>
          <div class="price">$350</div>
        </div>
      </div>
      <div class="space fee luxury__tax">
        <div class="container">
          <div class="name three-line-name">Tassa di Lusso</div>
          <i class="fas fa-gem drawing"></i>
          <div class="instructions">Pagate $100</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color__bar dark-blue zero"></div>
          <div class="name">Campli</div>
          <div class="price">Price $400</div>
        </div>
      </div>
    </div>
  </div>
</div>
